section.galeria {
   border: 1px solid white;
   border-radius: 5px;
   padding: .5vw;
   font-size: 0;
   -ms-flex-wrap: wrap;
   -ms-flex-direction: column;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   display: -webkit-box;
   display: flex;
   display: -ms-flexbox; /*IE 10*/
   margin: 5% ;
   text-align: center;
}

section.galeria div {
   -webkit-box-flex: auto;
   -ms-flex: auto;
   flex: auto;
   width: 200px;
   margin: .5vw;
}

.label_foto{
  color: #fff;
	font-family: muli_regular;
	font-size: 18px;
  text-align:center;
  margin: 0 auto;

}

section.galeria div img {
   width: 14rem;
}
